[submodule "Trail/vendor/spdlog"]
	path = Trail/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Trail/vendor/GLFW"]
	path = Trail/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Trail/vendor/imgui"]
	path = Trail/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Trail/vendor/glm"]
	path = Trail/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Trail/vendor/openal_soft"]
	path = Trail/vendor/openal_soft
	url = https://github.com/kcat/openal-soft
[submodule "Trail/vendor/sndfile"]
	path = Trail/vendor/sndfile
	url = https://github.com/libsndfile/libsndfile
